* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Libre Franklin', sans-serif;
}
.container {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem auto;
    color: hsl(0, 0%, 59%);
}
.container header p {
    font-size: 2rem;
    color: hsl(0, 0%, 59%);
}
.container header span {
    font-weight: 700;
    color: hsl(0, 0%, 0%);
}
.container p {
    color: hsla(0, 0%, 0%, 0.7);
}
.container form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.container form input {
    padding: .75rem;
    width: 60%;
    border: .1px solid hsl(223, 100%, 88%);
    border-radius: 30px;
    text-align: start;
}
.container form input::placeholder {
    font-weight: 300;
    font-size: 14px;
    color: hsl(223, 100%, 88%);
}
.container .error {
    position: relative;
}
.container .error-msg {
    font-size: 12px;
    position: absolute;
    left: 2.5rem;
    color: hsl(354, 100%, 66%);
    transform: translateY(-10px);
}
.invisible {
    visibility: hidden;
}
.container form button {
    background-color: hsl(223, 87%, 63%);
    padding: .75rem;
    width: 25%;
    border: none;
    border-radius: 30px;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}
.container form button:hover {
    cursor: pointer;
}
.container .illustration {
    width: 100%;
}
.container .illustration img {
    max-width: 100%;
    height: auto;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
footer > span {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
footer > span .socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.socials figure {
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    border: 1px solid hsla(223, 100%, 88%, 0.3);
    color: hsl(223, 87%, 63%);
    transition: all 250ms ease-in-out;
}
.socials figure:hover {
    background-color: hsl(223, 87%, 63%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

/*******MEDIA QUERY***********/
@media screen and (max-width: 500px) {
    .container {
        width: 90%;
    }
    .container header p {
        font-size: 1.5rem;
    }
    .container form {
        flex-direction: column;
        gap: 3rem;
    }
    .container form input {
        width: 100%;
    }
    .container form button {
        width: 100%;
    }
    .container .illustration {
        margin: 5rem auto;
    }
    .container .error-msg {
        top: -5.5rem;
    }
}